@mixin navBackground($top, $bottom, $circle){
	background: $bottom;
    background: -o-linear-gradient(135deg, $top 65%, $bottom 50%), -o-radial-gradient(50% 150%, circle cover, $bottom 20%, $circle 75%);
    background: -ms-linear-gradient(-225deg ,$top 65%, $bottom 50%), -ms-radial-gradient(50% 150%, circle,  rgba(82,82,82,1) 20%, $circle 75%); 
    background: -moz-linear-gradient(-45deg, $top 65%, $bottom 50%),-moz-radial-gradient(50% 150%, circle cover, $bottom 20%, $circle 75%);
    background: -webkit-linear-gradient(135deg, $top 65%, $bottom 50%), -webkit-radial-gradient(50% 150%, circle cover, $bottom 20%, $circle 75%);
    background: linear-gradient(-45deg, $top 65%, $bottom 50%),radial-gradient(circle farthest-side at 50% 150%, $bottom 20%, $circle 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19525252', endColorstr='#FF212121',GradientType=0 );   
}
@mixin linearGradient($from, $to){
    background: $to;
    background: -o-linear-gradient(to right,$from 0%, $to 100%);
    background: -ms-linear-gradient(to right,$from 0%, $to 100%); 
    background: -moz-linear-gradient(to right,$from 0%, $to 100%);
    background: -webkit-linear-gradient(to right,$from 0%, $to 100%);
    background: linear-gradient(to right,$from 0%, $to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 );   
}
@mixin clearfix(){
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}


@mixin opacity($opacity: 0.5) {
    filter: alpha(opacity=$opacity*100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{$opacity*100});
    opacity: $opacity;
}

@mixin filter($filter-type,$filter-amount) { 
    -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
    -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
    -o-filter: $filter-type+unquote('(#{$filter-amount})');
    filter: $filter-type+unquote('(#{$filter-amount})');
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin animation ($animation, $duration, $timing, $delay, $count) {
    -webkit-animation-name: $animation;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $count;

    -moz-animation-name: $animation;
    -moz-animation-duration: $duration;
    -moz-animation-delay: $delay;
    -moz-animation-timing-function: $timing;
    -moz-animation-iteration-count: $count;

    animation-name: $animation;
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-iteration-count: $count;
}
@mixin borderRadius($borderRadius){
    -moz-border-radius: $borderRadius; 
    -webkit-border-radius: $borderRadius; 
    -o-border-radius: $borderRadius; 
    border-radius: $borderRadius; 
}
@mixin boxShadow($values){
   -webkit-box-shadow: $values;
    -moz-box-shadow: $values;
    box-shadow: $values;
}
@mixin transform($transformEl, $transformVal){
    -webkit-transform: $transformEl($transformVal);
    -moz-transform: $transformEl($transformVal);
    -o-transform: $transformEl($transformVal);
    -ms-transform: $transformEl($transformVal);
    transform: $transformEl($transformVal); 
}
@mixin textDeco($textDeco){
    text-decoration: $textDeco;
    -webkit-text-decoration-line: $textDeco;
}
@mixin borderBox($borderBox){
    -webkit-box-sizing: $borderBox;
    -moz-box-sizing: $borderBox;
    -ms-box-sizing: $borderBox;
    -o-box-sizing: $borderBox;
    box-sizing: $borderBox; 
}
@mixin renderPixel{
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
}
@mixin renderCrisp(){
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;

}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
     @include transform(scale($scale));
} 
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
@mixin transform-origin ($origin, $end) {
    moz-transform-origin: $origin $end;
    -o-transform-origin: $origin $end;
    -ms-transform-origin: $origin $end;
    -webkit-transform-origin: $origin $end;
    transform-origin: $origin $end;
}
