/*DEPOSIT*/
.section__deposit-withdraw{
    margin-bottom: 5%;
}

.account__offers, .account__deposit{
    background-color: rgba(255,255,255,1); 
    margin: 10px auto; 
}
.account__offers{
    padding: 20px 15px;
}
.account__deposit{
    padding: 15px;
    background-color: rgba(200,200,200,.5); 
}

.img__tooltip--deposit{
    text-align: center;
    a{
    	cursor: help;
    	img{
    		width: 125px;
    	}
    }
}
 
.img__tooltip--deposit .image__tooltiptext{
    visibility: hidden;
    width: 100%;
    max-width: 250px;
    font-size: 1rem;
    background-color: rgba(235,235,235,1);
    color: rgba(51,51,51,1);
    text-align: left;
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    z-index: 9999;
    line-height: 1.4;
    opacity: 0;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    bottom: 115%;
    left: 50%;
    margin-left: -60px;
    transform: translateX(-25%);
}
.img__tooltip--deposit .image__tooltiptext{
	&:after, &::after{
	    content: "";
	    position: absolute;
	    top: 100%;
	    margin-left: 39%;
	    border-width: 10px;
	    border-style: solid;
	    border-color: rgba(235,235,235,1) transparent transparent transparent;
	    opacity: 0;
	    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
	    margin-bottom: 1rem;
	}
}
.img__tooltip--deposit:hover .image__tooltiptext,
.img__tooltip--deposit:hover .image__tooltiptext::after,
.img__tooltip--deposit:hover .image__tooltiptext:after{
    visibility: visible;
    opacity: 1;
}
.image__tooltip_info{
    margin: 1% auto;
    text-align: center;
    li{
	    display: inline-block;
	    margin: auto .5%;
	    min-width: 185px;
	    p{
			text-align: center;
			width: 100%;
			padding: .3rem 1rem;
			&:first-child{
				background: rgba(190,190,190,1);
			}
			&:last-child{
			    background: rgba(245,245,245,1);
			}
	    }
    }
}

.btn__deposit{
    display: inline-block;
    max-width: 300px;
	&:link, &:visited, &:active{
		max-width: inherit;
	}
}
.deposit .deposit--item{
    float: left;
}
