/*CENTER-WALLET*/
.heading__account--wallet h2, .heading__account--wallet h5{
    font-style: normal;
    font-weight: 300; 
    vertical-align:baseline;
}
.heading__account--wallet .heading__wallet{
    text-align: right;
    padding: 2%; 
}
.heading__wallet {
	span{
		margin: 0 10px;
	}
}

.wallet__points{
    text-align: center;
}
.wallet__points_items{
    margin-left: -20px;
}
.account__wallet_platforms{
    background-color: rgba(255,255,255,1);
    display: inline-block;
    position: relative;
    padding: 2%;
    border-radius: 2.5px;
    max-width: 100%;
    margin: 2%;
}

.wallet__label{font-weight: 300; line-height: 1; float: left;
    text-align: left;}
.wallet__label--small{font-size:.75rem;display: block}
.wallet__label--large{font-size:1.75rem}
.account__wallet--points{float: right;
    font-size: 2rem; 
    font-weight: 300; 
    color: rgba(196,135,15,1);
    text-align: right;
    vertical-align: middle;
    padding-top: 5px;
}
.account__wallet_bg{
    width:100%;
    height: auto;
}
.account__wallet--points:after,.account__wallet--points::after{
    content: ".00";
    font-size: 1.4rem;
}
.account__wallet-pt{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/pt-bw.png) 115% center no-repeat;
    background-size: 48% auto;
}
.account__wallet-mg{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/mg-bw.png) 105% center no-repeat;
    background-size: 35% auto;
}
.account__wallet-bs{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/bs-bw.png) 100% center no-repeat;
    background-size: 45% auto;
}
.account__wallet-ttg{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/ttg-bw.png) 105% center no-repeat;
    background-size: 35% auto;
}
.account__wallet-isb{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/isb-bw.png) 100% center no-repeat;
    background-size: 40% auto;
}
.account__wallet-ag{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/ag-bw.png) 105%  center no-repeat;
    background-size: 40% auto;
}
.account__wallet-png{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/png-bw.png) 100%  center no-repeat;
    background-size: 40% auto;
}
.account__wallet-fg{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/fg-bw.png) 100% center no-repeat;
    background-size: 40% auto;
}
.account__wallet-gg{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/gg-bw.png) 105% center no-repeat;
    background-size: 40% auto;
}
.account__wallet-hb{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/hb-bw.png) 105% center no-repeat;
    background-size: 40% auto;
}
.account__wallet-sa{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/sa-bw.png) 105% center no-repeat;
    background-size: 38% auto;
}
.account__wallet-pk{
    background: rgba(255,255,255,1) url(../images/slots/platforms/bw/pk-bw.png) 110% center no-repeat;
    background-size: 37% auto;
}
.wallet__transfer_content{
    height: auto;
    margin-top: 1%;
    margin-bottom: 2.5%;    
    text-align: center
}
.wallet__transfer_select,.wallet__transfer_amt{
    background-color: rgba(255,255,255,1);
    border-radius: 2.5px;
}
.dd-container{
    display: inline-block;

}
.dd-options,.dd-container {
    max-width: 200px !important;
    width: 100% !important;
}
.dd-select{
    padding: 5%;
    background: transparent !important;
    border: none !important;
    
}
.dd-select,.dd-option{
    width: 100%!important;
    text-align: left 
}
.dd-desc{
    color: rgba(196,135,15,1) !important;
    font-size: .9rem;
}
.dd-option-image{
    max-width: 35px !important;
}
.dd-selected-image{
    max-width: 50px !important;
    margin-right: 10px !important;
}
.dd-selected-text,.dd-option-text {
    color: rgba(196,135,15,1);
    position: relative;
    font-style: normal;
    font-size: 1.35rem;
}
.dd-selected-text{
   color: rgba(38, 38, 38, 0.9) 
}
.dd-option-text{
    font-size: 14px;
}
.dd-option-selected{
    background: rgba(196,135,15,1) !important;
}
.dd-option-selected>.dd-option-image{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.dd-option-selected>.dd-option-text,
.dd-option-selected>.dd-option-description{
    color: rgba(255,255,255,1)!important;
    font-weight: 700;
}
.dd-options{
    border: none!important;
    position: absolute !important;
    z-index: 10 !important;
    height: 150px;
}
.dd-options::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
    background-color: rgb(128, 128, 128);
}

.dd-options::-webkit-scrollbar{
    width: 8px;
    background-color: #F5F5F5;
}

.dd-options::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(203,203,203,1);
    background-color: rgba(196,135,15,1);
}

.wallet__transfer_select span{
    text-align: center;
}
.fa--icon{
    position: relative;
    bottom: 15px;
    margin-left: 2.5%;
    color: rgba(204,204,204,1)
}
.wallet__transfer_select span{
    opacity: .50 !important;
    -webkit-filter: grayscale(50%) !important;
}

.wallet__balance{
    opacity: 1 !important;
    -webkit-filter: opacity(100%) !important;
    font-weight: normal;
    text-align: center;
}
.wallet__transfer_check{
    display: inline-block;
}
.wallet__transfer_amt--input, .wallet__transfer_verify--input{
   
    border: 2px solid rgba(203,203,203,1);
    padding: 8px 10px;
    outline: 50px;
    background-color: rgba(203,203,203,1);
    max-width: 340px;
    width: 100%;
    border-radius: 0 !important;
    height: auto;
    display: inline-block;
}
.wallet__transfer_amt--input{
    margin: 5% auto;
    text-align: right;
    max-width:90%!important;
}
.wallet__transfer_verify--input{
    width: 100%;
    max-width: 60px;
}
.wallet__transfer_amt--input:focus,.wallet__transfer_verify--input:focus{
    border-color:  rgba(196,135,15,1);
    outline: 0;
    background-color: rgba(203,203,203,1);
    border-radius: 0 !important;
    height: auto;
    box-shadow: none!important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn--refresh{
    cursor: pointer;
    display:inline-block;
    vertical-align:top; 
    height:32px;
    color:#202020 !important;
    padding: 0 8px;
    font-weight:800;
    font-size: 2rem;
    &:hover, &:active, &:link, &:focus{
    	color: inherit
    }
}
.wallet__transfer_content{
	.col-lg-8.col-md-8,.col-lg-4.col-md-4{
		p{
			text-align: left;
		}
	}
}
.wallet__transfer>.form--promo>.form-group>p{
    text-align: left;
}
.wallet__transfer_content>.form-inline>.form-group>.text--large,.logo--account{
    float: left
}
.wallet__transfer_content>.col-lg-12.col-md-12>.form-inline{
    text-align: center;margin: 2% auto; width: 500px
}
.form--promo{
    margin: 3% auto;
    text-align: center;
}
.form--promo>.form-group>label{
    vertical-align: middle;
}
.form-group{
	.group{
        display: inline-block;
        .fa.fa-refresh{
            vertical-align: middle;
        }
        .code{
            height: 34px;
            margin-left: -6px;
            border: 1px solid #555555;
            vertical-align: bottom;
        }
    }
}
.form__input--verify{
	@extend .form__input--withdraw;
	max-width: 60px;
    display: inline-block;
}

