/*MODAL*/
.modal__mail{
    display: none; 
    position: fixed; 
    z-index: 9999; 
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(255,255,255,0.4); 
}
.modal__mail_content--header {
    padding: 2px 16px;
    background-color: rgba(196,135,15,1);
    color: rgba(255,255,255,1);
    border-bottom: 1px solid rgba(255,255,255,1);
    p{
        margin: 10px auto;
        font-size: 1.2rem;
        color: $plainWhite !important;
        span{
            font-weight: bold;
            &:after, &::after{
                content: ":";
                margin-right: 10px;
            }
        }
    }
}
 
.modal__mail_content--header.date{
    background-color: rgba(255,255,255,1);
    border-bottom: 1px solid rgba(196,135,15,1);
    p{
        color: rgba(0,0,0,1) !important;
        font-size: 14px !important;
    }
}

.modal__mail_content--body {
    padding: 2px 16px;
    p{
        margin: 15px auto;
        font-size: 14px;
        line-height: 1.5;
        padding: 10px 20px;
    }
}
 
.modal__mail_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.close {
    float: right;
    font-size: 35px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    opacity: .2;
    filter: alpha(opacity=20);
}