/*PROMO/OFFERS/RECORD/HISTORY*/
.table__account{
    width: 100%;
    margin: 2rem auto;
    border:none;
}
.table__account thead{
    text-align: center;
    background-color: rgba(110,110,110,.6);
    color: rgba(255,255,255,1);
}
.table__account thead tr td{
    text-align: center;
    border-right: 2px solid white;
}
.table__account thead tr td:last-child{
    border-right: none;
}
.table__account tbody{
    background: rgba(255,255,255,1);
}
.table__account tbody{
    height: 100%;
}
.table__account tbody tr td{
    color: rgba(0,0,0,1);
    font-size: 14px;
}

/*RECORD/HISTORY*/
.nav-tabs{
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    border-bottom: none! important;
}
.tab-content{
    border-top: 1px solid rgba(196,135,15,1);
}
.tab-content>p{
    padding-top: 1rem;
}
.tab-content>.tab-pane>p{
    padding-top: 1rem;
}
.nav-tabs>li>a{
    padding: 10px 20px !important;
    position: relative;
    display: block;
    padding: 10px 15px;
    color: rgba(196,135,15,1) !important;
}
.nav-tabs>li{
    position: relative; 
    display: block; 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    color: rgba(196,135,15,1) !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom-color: transparent !important;
    cursor: default;
    text-decoration: none;
}
.nav-tabs>li>a{
    padding: 10px 20px !important;
}

.nav-tabs>li.active,.nav-tabs>li.active>a:focus{
    font-weight: bolder;
}
.nav-tabs>li>a:hover{
    background: none !important;
    border: none;
}
/*OFFERS*/

.account__offers--label{
    text-align: left; 
    vertical-align: middle; 
    padding: 0.8rem 1rem;
    margin: 20px auto;
    color:rgba(74,74,74,1);
}
.btn__offers{
    @extend .btn__deposit;
}
.btn__offers--claimed,
.btn__offers--claimed:hover{
    background: rgba(119, 119, 119,.7) !important;
    cursor: not-allowed !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid rgba(119, 119, 119,0)!important;
    color: $plainWhite !important;
}
.account__offers{
    .col-lg-6.col-md-6.col-sm-6 {
        text-align: right;
    }
}