/*DEPOSIT*/
.form--widthdraw{
    width: 80%;
    max-width: 500px;
    margin: 5% auto;
    p{
    	padding-bottom: 10px;
    }
    .form__input--group{
		position: relative;
		display: table;
		border-collapse: separate;    	
    label{
			color:rgba(74,74,74,1);
			text-align: left;
    	}
    }
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    min-width: 100px;
    line-height: 1;
    color: rgba(0,0,0,1);
    text-align: center;
    background-color: transparent !important;
    border: none;
    border-radius: none;
    text-align: right;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.form__input--withdraw{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: rgba(85, 85, 85, 1);
    background-color: rgba(225, 225, 225,1)!important;
    background-image: none;
    border: 1px solid rgba(85, 85, 85, 1);
    border-radius: 0 !important;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}


.form__input--withdraw:focus{
    border-color:  rgba(196,135,15,1);
    background-color: rgba(203,203,203,1);
    box-shadow: none!important;
}
.form__input--group,.container--reduce-width>.btn--account{
    margin-bottom: 15px;
}
.container--reduce-width>.btn--account{
    margin-top: 1.5rem; 
}