@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  height: 100%; }

img {
  outline: none;
  border: 0; }

button {
  cursor: pointer; }

.text--strong, .text--bold, h1, h2, h3, h4, h5, h6, thead {
  font-weight: 700; }

.text--light {
  font-weight: 300; }

.text--big {
  font-size: 1.75rem; }

.text--red {
  color: #c4870f; }

.text--lightGrey {
  color: #6e6e6e; }

.text--large {
  font-size: 1.4rem;
  font-weight: 300; }

.text--medium {
  font-size: 1.25rem;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5 !important;
  letter-spacing: 1.5px;
  color: #333333; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

small {
  font-size: .7rem;
  color: #333333; }

p, td {
  font-size: 16px;
  line-height: 1.4;
  color: #333333; }

body {
  overflow-x: hidden !important;
  background: #d4d4d4;
  font-family: "Microsoft Yahei", Arial, "σ╛«Φ╜»Θ¢àΘ╗æ", STXihei, "σìÄµûçτ╗åΘ╗æ", sans-serif;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.row .col {
  padding: 0 !important; }

.container--reduce-width, .container-header {
  width: 70%;
  margin: 0 auto; }

.section {
  padding-top: 10%; }

.container__box {
  padding-top: 8%; }

.container__panel {
  background: white;
  padding: 25px 35px; }
  .container__panel h3 {
    text-transform: capitalize;
    margin: 0 0 1.168rem 0; }
  .container__panel p, .container__panel ol {
    margin-bottom: 1rem;
    font-size: 15px; }
  .container__panel ol {
    padding-left: 5%;
    line-height: 1.5; }
    .container__panel ol li {
      margin-bottom: 10px; }

.container__panel_item {
  padding: 3% 5% 0% 5%; }
  .container__panel_item .img img, .container__panel_item .container__panel--heading h4 img, .container__panel--heading .container__panel_item h4 img {
    width: 280px; }
  .container__panel_item p {
    height: 120px;
    text-align: justify;
    margin: 2% auto; }
  .container__panel_item h5 {
    margin: 2% auto; }

.container__panel--heading {
  max-width: 600px;
  margin: 0 auto;
  text-align: center; }
  .container__panel--heading .img, .container__panel--heading h4 {
    vertical-align: middle;
    display: inline-block; }
    .container__panel--heading .img img, .container__panel--heading h4 img {
      width: 180px;
      padding: 0 0.75rem; }
  .container__panel--heading h4 {
    text-align: left; }

.container__panel--text {
  width: 100%; }
  .container__panel--text p {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem 0rem; }
    .container__panel--text p:last-child {
      margin-bottom: 2rem; }

.container .row {
  margin-left: auto !important;
  margin-right: auto !important; }

.btn--rectangle {
  vertical-align: middle;
  text-align: center;
  background-color: #c4870f;
  width: 100%;
  color: white !important;
  margin: 20px auto 0px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem; }

.btn--large {
  padding: 1.25rem 2.5rem; }

.btn a:link, .btn a:active, .btn a:visited {
  color: #c4870f; }

.row--home .img img, .row--home .container__panel--heading h4 img, .container__panel--heading .row--home h4 img {
  display: block;
  margin: 1% auto;
  width: 15rem;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated; }
.row--home p {
  margin-top: 1rem;
  line-height: 1.5; }

a:hover, a:focus, a:visited, a:active, a:link {
  text-decoration: none;
  outline: none;
  color: #c4870f; }

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges; }

table {
  border: 1px solid black;
  padding: 1%;
  text-align: center;
  margin: 10px auto;
  width: 100%; }

td {
  width: 200px;
  padding: 5px 0; }
  td:first-child {
    text-align: left;
    padding-left: 3%; }

.img img, .container__panel--heading h4 img {
  max-width: 100%;
  height: auto; }
.img figure img, .container__panel--heading h4 figure img {
  border: 0.5rem solid #d7d7d7;
  background-color: #acacac; }
.img a p, .container__panel--heading h4 a p {
  text-align: center;
  font-size: 14px;
  position: relative;
  padding: 3%;
  color: #323232; }

.img--grayscale {
  filter: alpha(opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); }

.btn {
  text-align: center; }

.container-resized {
  width: 70%;
  margin-top: 5%; }

input, button {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.btn_account {
  vertical-align: middle;
  text-align: center;
  background-color: #c4870f;
  width: 100%;
  color: white !important;
  margin: 20px auto;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 2px solid #c4870f;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px; }

.btn_account-large {
  padding: 0.8rem 1rem; }

.btn_account-default {
  padding: 5px 12px; }

.btn_account:hover {
  border: 2px solid #c4870f;
  background: none;
  color: #c4870f !important; }

.headin__account--first {
  margin: 0 auto;
  margin-bottom: 5%; }

.heading__acount--first > .row > h2 {
  padding-top: 2%; }

.row--auto {
  margin: auto; }

/*NAVBAR*/
.header {
  width: inherit;
  border-bottom: 3px solid #c4870f;
  background: #525252;
  background: -o-linear-gradient(135deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -o-radial-gradient(50% 150%, circle cover, #525252 20%, #212121 75%);
  background: -ms-linear-gradient(-225deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -ms-radial-gradient(50% 150%, circle, #525252 20%, #212121 75%);
  background: -moz-linear-gradient(-45deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -moz-radial-gradient(50% 150%, circle cover, #525252 20%, #212121 75%);
  background: -webkit-linear-gradient(135deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -webkit-radial-gradient(50% 150%, circle cover, #525252 20%, #212121 75%);
  background: linear-gradient(-45deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), radial-gradient(circle farthest-side at 50% 150%, #525252 20%, #212121 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19525252', endColorstr='#FF212121',GradientType=0 ); }

.header__wrap {
  -webkit-box-shadow: 0 2px 28px 0px rgba(0, 0, 0, 0.25), 0 1px 10px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 2px 28px 0px rgba(0, 0, 0, 0.25), 0 1px 10px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0 2px 28px 0px rgba(0, 0, 0, 0.25), 0 1px 10px 0px rgba(0, 0, 0, 0.22); }

.fixed {
  position: fixed;
  z-index: 8888;
  width: 100%; }

.logo {
  width: 125px;
  margin: 1.5rem 1rem 0rem 1rem;
  margin: 1%;
  float: left; }

.rowtop, .rowbottom {
  float: none;
  text-align: right; }

.rowtop span {
  color: white;
  font-size: 12px; }

.rowbottom {
  margin-top: 10px; }
  .rowbottom .form {
    margin: 10% auto; }

.head_top, .head_bottom {
  display: block; }

.main__nav {
  text-transform: uppercase; }
  .main__nav li {
    float: left;
    max-width: 100%;
    color: white; }
    .main__nav li a {
      line-height: 2em;
      padding: 5px;
      color: inherit;
      font-size: 1rem;
      margin: 0 1rem;
      text-transform: uppercase;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .main__nav li a:after, .main__nav li a::after {
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: white;
        height: 2px;
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.main__nav li a.nav--active:after, .main__nav li a.nav--active::after {
  width: 100%; }
.main__nav li a.nav--active .menu_item.nav--active {
  color: white; }

.menu_item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  font-weight: normal; }

.nav__dropdown_menu a:hover > .caret {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.nav__dropdown_menu:hover .nav__dropdown {
  visibility: visible;
  opacity: 1;
  z-index: 5;
  -moz-transform: translate(0%, 3%);
  -o-transform: translate(0%, 3%);
  -ms-transform: translate(0%, 3%);
  -webkit-transform: translate(0%, 3%);
  transform: translate(0%, 3%);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-delay: 0s, 0s, 0.3s;
  -moz-transition-delay: 0s, 0s, 0.3s;
  -ms-transition-delay: 0s, 0s, 0.3s;
  -o-transition-delay: 0s, 0s, 0.3s;
  transition-delay: 0s, 0s, 0.3s; }

.caret {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.nav__dropdown {
  background: #c4870f;
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  max-width: 200px;
  -moz-transform: translate(0%, -10%);
  -o-transform: translate(0%, -10%);
  -ms-transform: translate(0%, -10%);
  -webkit-transform: translate(0%, -10%);
  transform: translate(0%, -10%); }
  .nav__dropdown ul {
    padding: 0px;
    margin: 0 auto;
    width: 70%; }
    .nav__dropdown ul li {
      max-width: 280px;
      width: 100%;
      display: inline-block;
      background: 105%  -20% no-repeat;
      background-size: 70%;
      margin: 5% 1%; }
      .nav__dropdown ul li a {
        position: relative; }
        .nav__dropdown ul li a img {
          width: auto;
          height: 150px;
          display: inline-block;
          position: relative;
          bottom: -50px;
          z-index: 1; }

.menu__icon, .menu__icon.menu__icon-burger span,
.head_bottom .text--large {
  display: none; }

.mobile__header_content div h1 {
  color: #c4870f;
  text-align: right;
  margin-top: 2rem; }

.head_bottom {
  background: #c4870f; }

.nav__dropdown_mobile {
  display: none !important; }
  .nav__dropdown_mobile ul li {
    border-top: 1px solid rgba(50, 50, 50, 0.25);
    border-bottom: none !important; }

/*DEPOSIT*/
.section__deposit-withdraw {
  margin-bottom: 5%; }

.account__offers, .account__deposit {
  background-color: white;
  margin: 10px auto; }

.account__offers {
  padding: 20px 15px; }

.account__deposit {
  padding: 15px;
  background-color: rgba(200, 200, 200, 0.5); }

.img__tooltip--deposit {
  text-align: center; }
  .img__tooltip--deposit a {
    cursor: help; }
    .img__tooltip--deposit a img {
      width: 125px; }

.img__tooltip--deposit .image__tooltiptext {
  visibility: hidden;
  width: 100%;
  max-width: 250px;
  font-size: 1rem;
  background-color: #ebebeb;
  color: #333333;
  text-align: left;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  z-index: 9999;
  line-height: 1.4;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  bottom: 115%;
  left: 50%;
  margin-left: -60px;
  transform: translateX(-25%); }

.img__tooltip--deposit .image__tooltiptext:after, .img__tooltip--deposit .image__tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-left: 39%;
  border-width: 10px;
  border-style: solid;
  border-color: #ebebeb transparent transparent transparent;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 1rem; }

.img__tooltip--deposit:hover .image__tooltiptext,
.img__tooltip--deposit:hover .image__tooltiptext::after,
.img__tooltip--deposit:hover .image__tooltiptext:after {
  visibility: visible;
  opacity: 1; }

.image__tooltip_info {
  margin: 1% auto;
  text-align: center; }
  .image__tooltip_info li {
    display: inline-block;
    margin: auto .5%;
    min-width: 185px; }
    .image__tooltip_info li p {
      text-align: center;
      width: 100%;
      padding: .3rem 1rem; }
      .image__tooltip_info li p:first-child {
        background: #bebebe; }
      .image__tooltip_info li p:last-child {
        background: whitesmoke; }

.btn__deposit, .btn__offers {
  display: inline-block;
  max-width: 300px; }
  .btn__deposit:link, .btn__offers:link, .btn__deposit:visited, .btn__offers:visited, .btn__deposit:active, .btn__offers:active {
    max-width: inherit; }

.deposit .deposit--item {
  float: left; }

/*DEPOSIT*/
.form--widthdraw {
  width: 80%;
  max-width: 500px;
  margin: 5% auto; }
  .form--widthdraw p {
    padding-bottom: 10px; }
  .form--widthdraw .form__input--group {
    position: relative;
    display: table;
    border-collapse: separate; }
    .form--widthdraw .form__input--group label {
      color: #4a4a4a;
      text-align: left; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  min-width: 100px;
  line-height: 1;
  color: black;
  text-align: center;
  background-color: transparent !important;
  border: none;
  border-radius: none;
  text-align: right; }

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.form__input--withdraw, .form__input--verify {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  background-color: #e1e1e1 !important;
  background-image: none;
  border: 1px solid #555555;
  border-radius: 0 !important;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s; }

.form__input--withdraw:focus, .form__input--verify:focus {
  border-color: #c4870f;
  background-color: #cbcbcb;
  box-shadow: none !important; }

.form__input--group, .container--reduce-width > .btn--account, .container-header > .btn--account {
  margin-bottom: 15px; }

.container--reduce-width > .btn--account, .container-header > .btn--account {
  margin-top: 1.5rem; }

/*PROMO/OFFERS/RECORD/HISTORY*/
.table__account {
  width: 100%;
  margin: 2rem auto;
  border: none; }

.table__account thead {
  text-align: center;
  background-color: rgba(110, 110, 110, 0.6);
  color: white; }

.table__account thead tr td {
  text-align: center;
  border-right: 2px solid white; }

.table__account thead tr td:last-child {
  border-right: none; }

.table__account tbody {
  background: white; }

.table__account tbody {
  height: 100%; }

.table__account tbody tr td {
  color: black;
  font-size: 14px; }

/*RECORD/HISTORY*/
.nav-tabs {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: none !important; }

.tab-content {
  border-top: 1px solid #c4870f; }

.tab-content > p {
  padding-top: 1rem; }

.tab-content > .tab-pane > p {
  padding-top: 1rem; }

.nav-tabs > li > a {
  padding: 10px 20px !important;
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #c4870f !important; }

.nav-tabs > li {
  position: relative;
  display: block; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #c4870f !important;
  background-color: transparent !important;
  border: none !important;
  border-bottom-color: transparent !important;
  cursor: default;
  text-decoration: none; }

.nav-tabs > li > a {
  padding: 10px 20px !important; }

.nav-tabs > li.active, .nav-tabs > li.active > a:focus {
  font-weight: bolder; }

.nav-tabs > li > a:hover {
  background: none !important;
  border: none; }

/*OFFERS*/
.account__offers--label {
  text-align: left;
  vertical-align: middle;
  padding: 0.8rem 1rem;
  margin: 20px auto;
  color: #4a4a4a; }

.btn__offers--claimed,
.btn__offers--claimed:hover {
  background: rgba(119, 119, 119, 0.7) !important;
  cursor: not-allowed !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid rgba(119, 119, 119, 0) !important;
  color: white !important; }

.account__offers .col-lg-6.col-md-6.col-sm-6 {
  text-align: right; }

/*MODAL*/
.modal__mail {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 15%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4); }

.modal__mail_content--header {
  padding: 2px 16px;
  background-color: #c4870f;
  color: white;
  border-bottom: 1px solid white; }
  .modal__mail_content--header p {
    margin: 10px auto;
    font-size: 1.2rem;
    color: white !important; }
    .modal__mail_content--header p span {
      font-weight: bold; }
      .modal__mail_content--header p span:after, .modal__mail_content--header p span::after {
        content: ":";
        margin-right: 10px; }

.modal__mail_content--header.date {
  background-color: white;
  border-bottom: 1px solid #c4870f; }
  .modal__mail_content--header.date p {
    color: black !important;
    font-size: 14px !important; }

.modal__mail_content--body {
  padding: 2px 16px; }
  .modal__mail_content--body p {
    margin: 15px auto;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px 20px; }

.modal__mail_content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

.close {
  float: right;
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  opacity: .2;
  filter: alpha(opacity=20); }

/*CENTER-WALLET*/
.heading__account--wallet h2, .heading__account--wallet h5 {
  font-style: normal;
  font-weight: 300;
  vertical-align: baseline; }

.heading__account--wallet .heading__wallet {
  text-align: right;
  padding: 2%; }

.heading__wallet span {
  margin: 0 10px; }

.wallet__points {
  text-align: center; }

.wallet__points_items {
  margin-left: -20px; }

.account__wallet_platforms {
  background-color: white;
  display: inline-block;
  position: relative;
  padding: 2%;
  border-radius: 2.5px;
  max-width: 100%;
  margin: 2%; }

.wallet__label {
  font-weight: 300;
  line-height: 1;
  float: left;
  text-align: left; }

.wallet__label--small {
  font-size: .75rem;
  display: block; }

.wallet__label--large {
  font-size: 1.75rem; }

.account__wallet--points {
  float: right;
  font-size: 2rem;
  font-weight: 300;
  color: #c4870f;
  text-align: right;
  vertical-align: middle;
  padding-top: 5px; }

.account__wallet_bg {
  width: 100%;
  height: auto; }

.account__wallet--points:after, .account__wallet--points::after {
  content: ".00";
  font-size: 1.4rem; }

.account__wallet-pt {
  background: white url(../images/slots/platforms/bw/pt-bw.png) 115% center no-repeat;
  background-size: 48% auto; }

.account__wallet-mg {
  background: white url(../images/slots/platforms/bw/mg-bw.png) 105% center no-repeat;
  background-size: 35% auto; }

.account__wallet-bs {
  background: white url(../images/slots/platforms/bw/bs-bw.png) 100% center no-repeat;
  background-size: 45% auto; }

.account__wallet-ttg {
  background: white url(../images/slots/platforms/bw/ttg-bw.png) 105% center no-repeat;
  background-size: 35% auto; }

.account__wallet-isb {
  background: white url(../images/slots/platforms/bw/isb-bw.png) 100% center no-repeat;
  background-size: 40% auto; }

.account__wallet-ag {
  background: white url(../images/slots/platforms/bw/ag-bw.png) 105% center no-repeat;
  background-size: 40% auto; }

.account__wallet-png {
  background: white url(../images/slots/platforms/bw/png-bw.png) 100% center no-repeat;
  background-size: 40% auto; }

.account__wallet-fg {
  background: white url(../images/slots/platforms/bw/fg-bw.png) 100% center no-repeat;
  background-size: 40% auto; }

.account__wallet-gg {
  background: white url(../images/slots/platforms/bw/gg-bw.png) 105% center no-repeat;
  background-size: 40% auto; }

.account__wallet-hb {
  background: white url(../images/slots/platforms/bw/hb-bw.png) 105% center no-repeat;
  background-size: 40% auto; }

.account__wallet-sa {
  background: white url(../images/slots/platforms/bw/sa-bw.png) 105% center no-repeat;
  background-size: 38% auto; }

.account__wallet-pk {
  background: white url(../images/slots/platforms/bw/pk-bw.png) 110% center no-repeat;
  background-size: 37% auto; }

.wallet__transfer_content {
  height: auto;
  margin-top: 1%;
  margin-bottom: 2.5%;
  text-align: center; }

.wallet__transfer_select, .wallet__transfer_amt {
  background-color: white;
  border-radius: 2.5px; }

.dd-container {
  display: inline-block; }

.dd-options, .dd-container {
  max-width: 200px !important;
  width: 100% !important; }

.dd-select {
  padding: 5%;
  background: transparent !important;
  border: none !important; }

.dd-select, .dd-option {
  width: 100% !important;
  text-align: left; }

.dd-desc {
  color: #c4870f !important;
  font-size: .9rem; }

.dd-option-image {
  max-width: 35px !important; }

.dd-selected-image {
  max-width: 50px !important;
  margin-right: 10px !important; }

.dd-selected-text, .dd-option-text {
  color: #c4870f;
  position: relative;
  font-style: normal;
  font-size: 1.35rem; }

.dd-selected-text {
  color: rgba(38, 38, 38, 0.9); }

.dd-option-text {
  font-size: 14px; }

.dd-option-selected {
  background: #c4870f !important; }

.dd-option-selected > .dd-option-image {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1); }

.dd-option-selected > .dd-option-text,
.dd-option-selected > .dd-option-description {
  color: white !important;
  font-weight: 700; }

.dd-options {
  border: none !important;
  position: absolute !important;
  z-index: 10 !important;
  height: 150px; }

.dd-options::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
  background-color: gray; }

.dd-options::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5; }

.dd-options::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #cbcbcb;
  background-color: #c4870f; }

.wallet__transfer_select span {
  text-align: center; }

.fa--icon {
  position: relative;
  bottom: 15px;
  margin-left: 2.5%;
  color: #cccccc; }

.wallet__transfer_select span {
  opacity: .50 !important;
  -webkit-filter: grayscale(50%) !important; }

.wallet__balance {
  opacity: 1 !important;
  -webkit-filter: opacity(100%) !important;
  font-weight: normal;
  text-align: center; }

.wallet__transfer_check {
  display: inline-block; }

.wallet__transfer_amt--input, .wallet__transfer_verify--input {
  border: 2px solid #cbcbcb;
  padding: 8px 10px;
  outline: 50px;
  background-color: #cbcbcb;
  max-width: 340px;
  width: 100%;
  border-radius: 0 !important;
  height: auto;
  display: inline-block; }

.wallet__transfer_amt--input {
  margin: 5% auto;
  text-align: right;
  max-width: 90% !important; }

.wallet__transfer_verify--input {
  width: 100%;
  max-width: 60px; }

.wallet__transfer_amt--input:focus, .wallet__transfer_verify--input:focus {
  border-color: #c4870f;
  outline: 0;
  background-color: #cbcbcb;
  border-radius: 0 !important;
  height: auto;
  box-shadow: none !important; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.btn--refresh {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  height: 32px;
  color: #202020 !important;
  padding: 0 8px;
  font-weight: 800;
  font-size: 2rem; }
  .btn--refresh:hover, .btn--refresh:active, .btn--refresh:link, .btn--refresh:focus {
    color: inherit; }

.wallet__transfer_content .col-lg-8.col-md-8 p, .wallet__transfer_content .col-lg-4.col-md-4 p {
  text-align: left; }

.wallet__transfer > .form--promo > .form-group > p {
  text-align: left; }

.wallet__transfer_content > .form-inline > .form-group > .text--large, .logo--account {
  float: left; }

.wallet__transfer_content > .col-lg-12.col-md-12 > .form-inline {
  text-align: center;
  margin: 2% auto;
  width: 500px; }

.form--promo {
  margin: 3% auto;
  text-align: center; }

.form--promo > .form-group > label {
  vertical-align: middle; }

.form-group .group {
  display: inline-block; }
  .form-group .group .fa.fa-refresh {
    vertical-align: middle; }
  .form-group .group .code {
    height: 34px;
    margin-left: -6px;
    border: 1px solid #555555;
    vertical-align: bottom; }

.form__input--verify {
  max-width: 60px;
  display: inline-block; }

@media (max-width: 1440px) {
  .nav > li > a {
    padding: 10px 25px !important; }

  .image__tooltip_info li {
    margin: 5px;
    min-width: 150px; }

  .container--reduce-width, .container-header {
    width: 85%; } }
@media screen and (max-width: 1024px) {
  .container--reduce-width, .container-header {
    width: auto; }

  .container-fluid {
    width: auto; }

  .section {
    padding-top: 20%; }

  .image__tooltip_info li {
    margin: 1px;
    min-width: 140px; } }
@media screen and (max-width: 1023px) {
  .heading__account--main h1 {
    text-align: center; }

  .heading__account--main .img, .heading__account--main .container__panel--heading h4, .container__panel--heading .heading__account--main h4 {
    margin-left: 25%; }

  .form--widthdraw {
    width: 100%; }

  .image__group--deposit {
    max-width: 500px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-collapse.collapse.in {
    display: block !important; }

  .navbar-header .collapse, .navbar-toggle {
    display: block !important; }

  .navbar-header {
    float: none; }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 0px !important; }

  .navbar-nav > li {
    float: none !important; }

  .account__nav > li:last-child {
    margin-bottom: 2rem; }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

  .image__tooltip_info li {
    margin: 1%; } }
@media screen and (max-width: 768px) {
  .container-header {
    width: 100%; }

  .menu__icon.menu__icon-burger > span, .mobile__header_content-user {
    display: block; }

  .nav__dropdown_mobile {
    display: block !important; }

  .header.fixed {
    background: -webkit-linear-gradient(-225deg, rgba(82, 82, 82, 0.1) 50%, #525252 50%), -webkit-radial-gradient(50% 500%, circle, #525252 35%, #212121 100%);
    border-bottom: 2.5px solid #c4870f;
    display: block;
    position: fixed;
    z-index: 9999; }

  .head_top .menu__icon {
    text-align: left;
    float: left; }

  .mobile__header {
    display: table;
    width: 100%; }

  .mobile__header_content {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0; }
    .mobile__header_content div {
      text-align: center; }

  .mobile__header_content-user {
    float: right;
    width: 25px;
    margin-right: 1rem; }

  .img__header {
    display: inline-block; }

  .img__header-user > img {
    width: 75%;
    position: relative;
    bottom: 15px; }

  .btn--cta {
    margin: auto 25px;
    width: 80%; }

  .menu_icon {
    text-align: left;
    display: block;
    position: absolute;
    top: 28px;
    left: 10px;
    right: 10px;
    height: 6px;
    width: 25px;
    background: #ff6600;
    -webkit-transition: background 0 0.2s;
    -moz-transition: background 0 0.2s;
    -ms-transition: background 0 0.2s;
    -o-transition: background 0 0.2s;
    transition: background 0 0.2s; }

  .logo {
    float: none;
    width: 70px;
    margin: 10px auto; }

  .user {
    position: relative;
    right: 0px;
    top: 0px;
    width: auto;
    display: none;
    float: none; }

  .rowtop, .rowbottom {
    float: none; }

  .head_bottom {
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -250px;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }

  .nav__mobile {
    background-color: #454545;
    min-width: 250px;
    left: 0px;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding-left: 0;
    padding-right: 0; }

  .wrap--mobile {
    margin-left: 250px;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }

  .head_bottom > .text--large {
    display: block;
    font-size: 3rem;
    color: white;
    font-weight: 300;
    margin: 0px 15px 15px; }

  .row.head_bottom.nav__mobile {
    margin: 0px !important; }

  .main__nav {
    float: none;
    margin-top: 3.3rem; }
    .main__nav li {
      float: none;
      margin: 0px;
      border-bottom: 1px solid rgba(50, 50, 50, 0.25);
      color: white;
      font-size: 1rem; }
      .main__nav li a, .main__nav li a.nav--active {
        line-height: 1.15rem;
        font-size: 14px; }
        .main__nav li a:after, .main__nav li a::after, .main__nav li a.nav--active:after, .main__nav li a.nav--active::after {
          height: 0px;
          background: none; }
        .main__nav li a .menu_item, .main__nav li a.nav--active .menu_item {
          font-size: inherit; }
      .main__nav li a.nav--active {
        color: #c4870f; }
        .main__nav li a.nav--active .menu_item {
          color: inherit !important; }
    .main__nav a {
      display: inline-block !important; }

  .menu__icon {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    float: left; }
    .menu__icon span {
      display: block;
      position: absolute;
      top: 25px;
      left: 17px;
      right: 0px;
      height: 5px;
      background: white; }
      .menu__icon span:after, .menu__icon span::after, .menu__icon span:before, .menu__icon span::before {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #fff;
        content: ""; }
      .menu__icon span:before, .menu__icon span::before {
        top: -12.5px; }
      .menu__icon span:after, .menu__icon span::after {
        bottom: -12.5px; }

  .menu__icon:focus, button:focus {
    outline: none;
    background-color: transparent !important; }

  .menu__icon-burger {
    background-color: transparent; }
    .menu__icon-burger span {
      -webkit-transition: background 0s 0.3s;
      -moz-transition: background 0s 0.3s;
      -ms-transition: background 0s 0.3s;
      -o-transition: background 0s 0.3s;
      transition: background 0s 0.3s; }
      .menu__icon-burger span:after, .menu__icon-burger span::after, .menu__icon-burger span:before, .menu__icon-burger span::before {
        -webkit-transition-duration: 0.3s, 0.3s;
        -o-transition-duration: 0.3s, 0.3s;
        transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.3s, 0s;
        -o-transition-delay: 0.3s, 0s;
        transition-delay: 0.3s, 0s; }
      .menu__icon-burger span:before, .menu__icon-burger span::before {
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, -webkit-transform;
        -o-transition-property: top, transform;
        transition-property: top, transform;
        transition-property: top, transform, -webkit-transform; }
      .menu__icon-burger span:after, .menu__icon-burger span::after {
        -webkit-transition-property: bottom, -webkit-transform;
        transition-property: bottom, -webkit-transform;
        -o-transition-property: bottom, transform;
        transition-property: bottom, transform;
        transition-property: bottom, transform, -webkit-transform; }

  .menu__icon-burger.is-active {
    background: none; }
    .menu__icon-burger.is-active span {
      background: none; }
      .menu__icon-burger.is-active span:before, .menu__icon-burger.is-active span::before {
        top: 0;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .menu__icon-burger.is-active span:after, .menu__icon-burger.is-active span::after {
        bottom: 0;
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .menu__icon-burger.is-active span:after, .menu__icon-burger.is-active span::after, .menu__icon-burger.is-active span:before, .menu__icon-burger.is-active span::before {
        -webkit-transition-delay: 0.3s, 0s;
        -o-transition-delay: 0.3s, 0s;
        transition-delay: 0.3s, 0s; }

  .container__box {
    padding-top: 15%; }

  .container__panel_item p {
    height: 100%; }

  .container--home {
    padding-top: 30%; }

  .wallet__transfer_content > .col-lg-8.col-md-8 > p,
  .wallet__transfer_content > .col-lg-4.col-md-4 > p,
  .wallet__transfer > .form--promo > .form-group > p {
    margin: 10px auto; }

  .dd-options {
    height: 225px; }

  .navbar-left {
    margin: 0 -15px !important; }

  .btn__deposit, .btn__offers, .btn__deposit:link, .btn__offers:link, .btn__deposit:visited, .btn__offers:visited, .btn__deposit:active, .btn__offers:active {
    margin-right: 20%; }

  .section {
    padding-top: 20%; }

  .mobile__header_content div h1 {
    text-align: center;
    margin-top: .75rem; }

  .nav__dropdown_mobile ul li a {
    padding: .3rem 2.5rem; }

  .nav__dropdown {
    display: none; }

  .img__tooltip--deposit a:after,
  .img__tooltip--deposit a::after {
    content: '查看信息';
    display: block;
    color: #333333;
    line-height: 1.4;
    font-size: .9rem; } }
@media screen and (max-width: 430px) {
  .container__box {
    padding-top: 40%; }

  .container--home {
    max-width: 100% !important;
    padding: 40% 10%; }

  .container__panel {
    padding: 20px 10px; }
    .container__panel h3 {
      margin-top: 10% !important; }
    .container__panel .col.l4.m4.center-align {
      margin: 10% 0%; }
    .container__panel p {
      padding: 0rem 1rem; }
    .container__panel ol {
      padding: 0% 10% 0% 15%; }

  .container__panel_item p {
    height: 100%; }

  .container__panel--text p {
    padding: 1rem; }

  .container__panel--heading .img img, .container__panel--heading h4 img {
    text-align: center;
    margin: 0 auto;
    width: 100px;
    float: none; }
  .container__panel--heading .col {
    padding: 0rem 1rem !important;
    float: none !important; }

  .container__sidebar .tab-content .collapsible li {
    line-height: 1.3; }
    .container__sidebar .tab-content .collapsible li .collapsible-header {
      padding: 0 .5rem; }

  .container__promo_nav .nav-tabs {
    margin: 0 auto 0 15%; }
    .container__promo_nav .nav-tabs li {
      margin: 0 auto;
      float: none;
      text-align: center;
      display: inline-block; }
      .container__promo_nav .nav-tabs li a {
        margin: 0;
        padding: 0; }
        .container__promo_nav .nav-tabs li a img {
          width: 100px; }

  .heading__account--main h1 {
    text-align: center; }

  .heading__account--main .img, .heading__account--main .container__panel--heading h4, .container__panel--heading .heading__account--main h4 {
    margin-left: 25%; }

  .wallet__transfer_select > .fa {
    transform: rotate(90deg);
    display: block;
    margin-top: 20px; }

  .wallet__transfer_content > .col-lg-8.col-md-8 > p,
  .wallet__transfer_content > .col-lg-4.col-md-4 > p,
  .wallet__transfer > .form--promo > .form-group > p {
    text-align: center; }

  .wallet__transfer_content > .col-lg-4.col-md-4 {
    margin-top: 3rem; }

  .wallet__transfer_select, .wallet__transfer_amt {
    min-height: 0rem; }

  .form--widthdraw {
    width: 100%; }

  .image__group--deposit > .img, .container__panel--heading .image__group--deposit > h4 {
    display: block; }

  table, thead, tbody, th, td, tr {
    display: block; }

  .table__account {
    background: white; }

  .table__account tbody tr td:first-child, table, thead, tbody, th, td, tr {
    text-align: left; }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  tr {
    border-bottom: 1.5px solid rgba(110, 110, 110, 0.7); }

  tr:last-child {
    border-bottom: none; }

  td {
    border: none;
    position: relative;
    padding: 0;
    margin: 10px; }

  td:before {
    position: relative;
    top: 0;
    left: 6px;
    font-weight: bold;
    color: #6e6e6e;
    margin: 20px auto;
    padding-right: 25px; }

  .table__account--promo tbody tr td:before {
    padding-right: 25px; }

  .table__account--transfer tbody tr td:nth-of-type(1):before,
  .table__account--transfer tbody tr td:nth-of-type(4):before,
  .table__account--transfer tbody tr td:nth-of-type(5):before,
  .table__account--deposit tbody tr td:nth-of-type(1):before,
  .table__account--deposit tbody tr td:nth-of-type(4):before,
  .table__account--deposit tbody tr td:nth-of-type(5):before,
  .table__account--deposit tbody tr td:nth-of-type(6):before,
  .table__account--withdraw tbody tr td:nth-of-type(2):before,
  .table__account--withdraw tbody tr td:nth-of-type(3):before,
  .table__account--withdraw tbody tr td:nth-of-type(4):before {
    padding-right: 52.5px; }

  td:first-child {
    padding-left: 0%; }

  .table__account--promo tbody tr td:nth-child(3) {
    text-align: left !important; }

  .table__account--promo tbody tr td:nth-of-type(1):before {
    content: "日期"; }

  .table__account--promo tbody tr td:nth-of-type(2):before {
    content: "备注"; }

  .table__account--promo tbody tr td:nth-of-type(3):before {
    content: "金额"; }

  .table__account--promo tbody tr td:nth-of-type(4):before {
    content: "状态"; }

  .table__account--transfer tbody tr td:nth-of-type(1):before {
    content: "日期"; }

  .table__account--transfer tbody tr td:nth-of-type(2):before {
    content: "转出钱包"; }

  .table__account--transfer tbody tr td:nth-of-type(3):before {
    content: "转入钱包"; }

  .table__account--transfer tbody tr td:nth-of-type(4):before {
    content: "金额"; }

  .table__account--transfer tbody tr td:nth-of-type(5):before {
    content: "状态"; }

  .table__account--deposit tbody tr td:nth-of-type(1):before {
    content: "日期"; }

  .table__account--deposit tbody tr td:nth-of-type(2):before {
    content: "转出钱包"; }

  .table__account--deposit tbody tr td:nth-of-type(3):before {
    content: "转入钱包"; }

  .table__account--deposit tbody tr td:nth-of-type(4):before {
    content: "金额"; }

  .table__account--deposit tbody tr td:nth-of-type(5):before {
    content: "状态"; }

  .table__account--deposit tbody tr td:nth-of-type(6):before {
    content: "状态"; }

  .table__account--withdraw tbody tr td:nth-of-type(1):before {
    content: "提款编号"; }

  .table__account--withdraw tbody tr td:nth-of-type(2):before {
    content: "日期"; }

  .table__account--withdraw tbody tr td:nth-of-type(3):before {
    content: "金额"; }

  .table__account--withdraw tbody tr td:nth-of-type(4):before {
    content: "状态"; }

  .table__account--withdraw tbody tr td:nth-of-type(1):before {
    content: "提款编号"; }

  .table__account--withdraw tbody tr td:nth-of-type(2):before {
    content: "日期"; }

  .table__account--withdraw tbody tr td:nth-of-type(3):before {
    content: "金额"; }

  .table__account--withdraw tbody tr td:nth-of-type(4):before {
    content: "状态"; }

  .table__account--mail tbody tr td:nth-of-type(1):before {
    content: "标题"; }

  .table__account--mail tbody tr td:nth-of-type(2):before {
    content: "日期"; }

  .table__account--mail tbody tr td:nth-of-type(3):before {
    content: "状态"; }

  .account__offers--label {
    text-align: center; }

  .form--promo > .form-group > label {
    margin-bottom: 10px; }

  .form--promo > .btn_account-default {
    display: block;
    padding: 0.8rem 1rem; }

  .wallet__transfer_amt--input {
    margin: 5% auto; }

  .col-lg-6.col-md-6.heading__wallet {
    text-align: center;
    margin: 1rem auto -2.5rem; }

  .col-lg-6.col-md-6.heading__wallet > span > .btn_account.btn_account-default {
    display: block;
    max-width: 250px;
    padding: 1rem; }

  .heading__wallet span {
    margin: 0 5px; }

  .btn__deposit, .btn__offers, .btn__deposit:link, .btn__offers:link, .btn__deposit:visited, .btn__offers:visited, .btn__deposit:active, .btn__offers:active {
    margin-right: 0% !important; }

  .container-header .col-lg-6.col-md-6.col-sm-6.col-xs-6:first-child {
    width: 90%; }
  .container-header .col-lg-6.col-md-6.col-sm-6.col-xs-6:last-child {
    display: none; }

  .section {
    padding-top: 30%; }

  .form-group .group {
    display: block;
    margin: 3% auto; } }
@media screen and (max-width: 375px) {
  .nav-tabs > li > a {
    padding: 5px 8px !important;
    margin: 0 auto;
    text-align: center; }

  .account__wallet_platforms > .wallet__label,
  .account__wallet_platforms > .account__wallet--points {
    text-align: center; }

  .account__wallet_platforms > .wallet__label,
  .account__wallet_platforms > .account__wallet--points {
    display: block;
    float: none; }

  .account__wallet_platforms > .wallet__label > .wallet__label--large,
  .account__wallet_platforms > .wallet__label > .wallet__label--small {
    text-align: left;
    display: inline-block; }

  .account__wallet_platforms > .wallet__label > .wallet__label--large {
    vertical-align: middle; }

  .account__wallet_platforms > .wallet__label > .wallet__label--small:before,
  .account__wallet_platforms > .wallet__label > .wallet__label--small::before {
    content: "/ ";
    padding-left: 5px; }

  .account__wallet_platforms > .wallet__label > .wallet__label--small {
    font-size: 1.15rem; }

  .account__wallet_bg {
    background-size: 45% auto; }

  .account__wallet-pt {
    background: white url(../images/slots/platforms/bw/pt-bw.png) center no-repeat; }

  .account__wallet-mg {
    background: white url(../images/slots/platforms/bw/mg-bw.png) center no-repeat; }

  .account__wallet-bs {
    background: white url(../images/slots/platforms/bw/bs-bw.png) center no-repeat; }

  .account__wallet-ttg {
    background: white url(../images/slots/platforms/bw/ttg-bw.png) center no-repeat; }

  .account__wallet-isb {
    background: white url(../images/slots/platforms/bw/isb-bw.png) center no-repeat; }

  .account__wallet-ag {
    background: white url(../images/slots/platforms/bw/ag-bw.png) center no-repeat; }

  .account__wallet-png {
    background: white url(../images/slots/platforms/bw/png-bw.png) center no-repeat; }

  .account__wallet-fg {
    background: white url(../images/slots/platforms/bw/fg-bw.png) center no-repeat; }

  .account__wallet-gg {
    background: white url(../images/slots/platforms/bw/gg-bw.png) center no-repeat; }

  .account__wallet-hb {
    background: white url(../images/slots/platforms/bw/hb-bw.png) center no-repeat; }

  .account__wallet-sa {
    background: white url(../images/slots/platforms/bw/sa-bw.png) center no-repeat; }

  .account__wallet-pk {
    background: white url(../images/slots/platforms/bw/pk-bw.png) center no-repeat; }

  .image__tooltip_info li {
    min-width: 150px; } }
@media screen and (max-width: 320px) {
  .input-group-addon {
    min-width: 80px; } }
/*ANIMATIONS*/
@-webkit-keyframes shine {
  100% {
    left: 125%; } }
@-moz-keyframes shine {
  100% {
    left: 125%; } }
@-o-keyframes shine {
  100% {
    left: 125%; } }
@keyframes shine {
  100% {
    left: 125%; } }
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(100%, 0%); }
  100% {
    -webkit-transform: translate(-100%, 0%); } }
@-moz-keyframes marquee {
  0% {
    -moz-transform: translate(100%, 0%); }
  100% {
    -moz-transform: translate(-100%, 0%); } }
@-o-keyframes marquee {
  0% {
    -o-transform: translate(100%, 0%); }
  100% {
    -o-transform: translate(-100%, 0%); } }
@keyframes marquee {
  0% {
    transform: translate(100%, 0%); }
  100% {
    transform: translate(-100%, 0%); } }
@-webkit-keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1); } }
@-moz-keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    -moz-transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    -moz-transform: scale(1); } }
@-o-keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    -o-transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    -o-transform: scale(1); } }
@keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    transform: scale(1); } }

/*# sourceMappingURL=main.css.map */
