@media (max-width: 1440px){
    .nav>li>a {
        padding: 10px 25px !important;
    }
    .image__tooltip_info {
        li{
            margin: 5px;
            min-width: 150px;
        }
    }
    .container--reduce-width{
        width: 85%;
    }
}
@media screen and (max-width: 1024px){
    .container--reduce-width{
        width: auto;
    }
    .container-fluid{
        width: auto;
    }
    .section {
        padding-top: 20%;
    }
    .image__tooltip_info {
        li{
            margin: 1px;
            min-width: 140px;
        }
    }
}
@media screen and (max-width: 1023px)  {
    .heading__account--main h1 {
        text-align: center;
    }
    .heading__account--main .img{
        margin-left: 25%;
    }
    .form--widthdraw{
        width: 100%;
    }
    .image__group--deposit{
        max-width: 500px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 0px !important;
    }
    .navbar-nav>li{
        float: none !important;
    }
    .account__nav>li:last-child{
        margin-bottom: 2rem;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .image__tooltip_info li {
        margin: 1%;
    }
}
@media screen and (max-width: 768px){
    .container-header{
        width: 100%;
    }
    .menu__icon.menu__icon-burger>span,.mobile__header_content-user{
        display: block;
    }
    .nav__dropdown_mobile{
        display: block !important;
    }
    .header.fixed{
        background: -webkit-linear-gradient(-225deg ,rgba(82,82,82,.1) 50%, rgba(82,82,82,1) 50%), -webkit-radial-gradient(50% 500%, circle,  rgba(82,82,82,1) 35%, rgba(33,33,33,1) 100%);
        border-bottom: 2.5px solid rgba(196, 135, 15,1);
        display: block;
        position: fixed;
        z-index: 9999;
     }
    .head_top {
    	.menu__icon{
	        text-align: left;
	        float: left;
	    }
    }
    .mobile__header{
        display:table;
        width:100%;
    }
    .mobile__header_content{
        display:table-cell;
        vertical-align:middle;
	    padding-left: 0;
	    padding-right: 0;
	    div{
	        text-align:center;
	    }
    }
    .mobile__header_content-user{
        float: right; 
        width:25px; 
        margin-right: 1rem
    }
    .img__header{
        display: inline-block;
    }
    .img__header-user>img{
        width: 75%; 
        position: relative; 
        bottom: 15px; 
    }
    .btn--cta{
	    margin: auto 25px;
	    width: 80%;
    }
    .menu_icon{
        text-align: left;
        display: block;
        position: absolute;
        top: 28px;
        left: 10px;
        right: 10px;
        height: 6px;
        width: 25px;
        background: #ff6600;
        @include transition(background, 0,  0.2s);
    }
    .logo{
        float: none; 
        width: 70px; 
        margin: 10px auto;
    }
    .user{
        position: relative;
        right: 0px;
        top: 0px;
        width: auto;
        display: none;
        float: none;
    }
    .rowtop, .rowbottom{
        float: none;
    }
    .head_bottom{
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: -250px;
        overflow-x: hidden;
        padding-top: 20px;
        transition: 0.5s;
        @include transition(all, 0.5s, cubic-bezier(.25,.8,.25,1));

    }
    .nav__mobile{   
        background-color: rgba(69,69,69,1);
        min-width: 250px;
        left: 0px;
        @include transition(all, 0.5s, cubic-bezier(.25,.8,.25,1));

        padding-left: 0;
        padding-right: 0;
    }
    .wrap--mobile{
        margin-left: 250px;
        @include transition(all, 0.5s, cubic-bezier(.25,.8,.25,1));

    }

    .head_bottom>.text--large{
        display: block;
        font-size: 3rem;
        color: rgba(255,255,255,1);
        font-weight: 300;
        margin: 0px 15px 15px;
    }
    .row.head_bottom.nav__mobile{
        margin: 0px !important;
    }
    .main__nav {
    	float: none;
        margin-top: 3.3rem;
    	li {
	        float: none;
	        margin: 0px;
	        border-bottom: 1px solid rgba(50,50,50,.25);
	        color: rgba(255,255,255,1);
	        font-size: 1rem;
	        a, a.nav--active{
       	 		line-height: 1.15rem;
                font-size: 14px;
				&:after,&::after{
					height: 0px;
					background: none;
				}
                .menu_item{
                    font-size: inherit;
                }	        	
	        }
            a.nav--active{
                color: $primary;
                .menu_item{
                    color: inherit !important;
                }
            }
	    }
	    a{
	    	display: inline-block !important;
	    }
    }
    .menu__icon {
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
        font-size: 0;
        text-indent: -9999px;
        appearance: none;
        @include boxShadow(none);
        border-radius: none;
        border: none;
        cursor: pointer;
        float: left;
        span{
	        display: block;
	        position: absolute;
	        top: 25px;
	        left: 17px;
	        right: 0px;
	        height: 5px;
	        background: $plainWhite;
	        &:after, &::after, 
	        &:before, &::before{
	        	position: absolute;
		        display: block;
		        left: 0;
		        width: 100%;
		        height: 5px;
		        background-color: #fff;
		        content: "";
	        }
	        &:before, &::before{
	        	top: -12.5px;
	        }
	        &:after, &::after{
	        	bottom: -12.5px;
	        }
        }
     }

     .menu__icon, button{
     	&:focus{
	        outline: none;
	        background-color: transparent !important;
     	}
    }
    .menu__icon-burger {
        background-color: transparent;
        span{
        	@include transition(background, 0s, 0.3s);
	        &:after, &::after, 
	        &:before, &::before{
				-webkit-transition-duration: 0.3s, 0.3s;
				-o-transition-duration: 0.3s, 0.3s;
				transition-duration: 0.3s, 0.3s;
				-webkit-transition-delay: 0.3s, 0s;
				-o-transition-delay: 0.3s, 0s;
				transition-delay: 0.3s, 0s;
        	}
	        &:before, &::before{
        		-webkit-transition-property: top, -webkit-transform;
        		transition-property: top, -webkit-transform;
        		-o-transition-property: top, transform;
        		transition-property: top, transform;
        		transition-property: top, transform, -webkit-transform;
	        }
	        &:after, &::after{
        		-webkit-transition-property: bottom, -webkit-transform;
        		transition-property: bottom, -webkit-transform;
        		-o-transition-property: bottom, transform;
        		transition-property: bottom, transform;
        		transition-property: bottom, transform, -webkit-transform;
	        }
        }
    }

    .menu__icon-burger.is-active {
        background: none;
        span{
        	background: none;
	        &:before, &::before{
		        top: 0;
		        @include rotate(45);
	        }
	        &:after, &::after{
		        bottom: 0;
		        @include rotate(-45);
	        }
	        &:after, &::after, 
	        &:before, &::before{
				-webkit-transition-delay: 0.3s, 0s;
				-o-transition-delay: 0.3s, 0s;
				transition-delay: 0.3s, 0s;
        	}
        }
    }
    .container__box {
        padding-top: 15%;
    }
    .container__panel_item {
        p{
            height: 100%;
        }
    }
    .container--home {
        padding-top: 30%;
    }
    .wallet__transfer_content>.col-lg-8.col-md-8>p,
    .wallet__transfer_content>.col-lg-4.col-md-4>p,
    .wallet__transfer>.form--promo>.form-group>p{
        margin: 10px auto;
    }
    .dd-options{
        height: 225px;
    }
    .navbar-left {
        margin: 0 -15px !important;
    }
    .btn__deposit, .btn__deposit:link, .btn__deposit:visited, .btn__deposit:active{
        margin-right: 20%;
    }
    .section{
        padding-top: 20%;
    }
    .mobile__header_content div h1 {
        text-align: center;
        margin-top: .75rem;
    }
    .nav__dropdown_mobile{
        ul{
            li{
                a{
                    padding: .3rem 2.5rem;
                }
            }
        }
    }
    .nav__dropdown{
        display: none;
    }
    .img__tooltip--deposit a:after,
    .img__tooltip--deposit a::after{
        content: '查看信息';
        display: block;
        color: rgba(51,51,51,1);
        line-height: 1.4;
        font-size: .9rem;
    }
}
@media screen and (max-width: 430px){
    .container__box {
        padding-top: 40%;
    }
    .container--home{
        max-width: 100% !important;
        padding: 40% 10%;
    }
    .container__panel{
        padding: 20px 10px;
        h3{
            margin-top: 10% !important;
        }
        .col.l4.m4.center-align{
            margin: 10% 0%;
        }
        p{
            padding: 0rem 1rem;
        }
        ol{
            padding: 0% 10% 0% 15%;
        }
    }
    .container__panel_item {
        p{
            height: 100%;
        }
    }
    .container__panel--text{
        p{
            padding: 1rem;
        }
    }
    .container__panel--heading{
        .img{
            img{
                text-align: center;
                margin: 0 auto;
                width: 100px;
                float: none;
            }
        }
        .col{
            padding: 0rem 1rem !important;
            float: none !important;
        }
    }
    .container__sidebar {
        .tab-content {
            .collapsible {
                li {
                    line-height: 1.3;
                    .collapsible-header{
                            padding: 0 .5rem;
                    }
                }
            }
        }
    }
    .container__promo_nav{
        .nav-tabs{
            margin: 0 auto 0 15%;
            li{
                margin: 0 auto;
                float: none;
                text-align: center;
                display: inline-block;
                a{
                    margin: 0;
                    padding: 0;
                    img{
                        width: 100px;
                    }
                }
            }
        }
    }

    .heading__account--main h1 {
        text-align: center;
    }
    .heading__account--main .img{
        margin-left: 25%;
    }
    .wallet__transfer_select>.fa{
        transform: rotate(90deg);
        display: block;
        margin-top: 20px;
    }
    .wallet__transfer_content>.col-lg-8.col-md-8>p,
    .wallet__transfer_content>.col-lg-4.col-md-4>p,
    .wallet__transfer>.form--promo>.form-group>p{
        text-align: center;
    }
    .wallet__transfer_content>.col-lg-4.col-md-4{
        margin-top: 3rem;
    }
    .wallet__transfer_select, .wallet__transfer_amt{
        min-height: 0rem;
    }
    .form--widthdraw{
        width: 100%;
    }
    .image__group--deposit>.img{
        display: block;
    }
    table, thead, tbody, th, td, tr { 
        display: block; 
        
    }
    .table__account{
        background: rgba(255,255,255,1);
    }
    .table__account tbody tr td:first-child, table, thead, tbody, th, td, tr{
        text-align: left;
    }
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr { 
        border-bottom: 1.5px solid  rgba(110,110,110,.7); 
    }
    tr:last-child { 
        border-bottom: none; 
    }
    td { 
        border: none;
        position: relative;
        padding: 0;
        margin: 10px;
    }
    td:before{
        position: relative;
        top: 0;
        left: 6px;
        font-weight: bold;
        color: rgba(110,110,110,1);
        margin: 20px auto;
        padding-right: 25px;

    }
    .table__account--promo tbody tr td:before { 
        padding-right: 25px;
    }
    .table__account--transfer tbody tr td:nth-of-type(1):before,
    .table__account--transfer tbody tr td:nth-of-type(4):before,
    .table__account--transfer tbody tr td:nth-of-type(5):before,
    .table__account--deposit tbody tr td:nth-of-type(1):before,
    .table__account--deposit tbody tr td:nth-of-type(4):before,
    .table__account--deposit tbody tr td:nth-of-type(5):before,
    .table__account--deposit tbody tr td:nth-of-type(6):before,
    .table__account--withdraw tbody tr td:nth-of-type(2):before,
    .table__account--withdraw tbody tr td:nth-of-type(3):before,
    .table__account--withdraw tbody tr td:nth-of-type(4):before{ 
        padding-right: 52.5px;
    }
    td:first-child {
        padding-left: 0%;
    }
    .table__account--promo tbody tr td:nth-child(3){
        text-align: left !important;
    }
    .table__account--promo tbody tr td:nth-of-type(1):before { 
        content: "日期";
    }
    .table__account--promo tbody tr td:nth-of-type(2):before { 
        content: "备注";
    }
    .table__account--promo tbody tr td:nth-of-type(3):before { 
        content: "金额";
    }
    .table__account--promo tbody tr td:nth-of-type(4):before { 
        content: "状态";
    }
    .table__account--transfer tbody tr td:nth-of-type(1):before { 
        content: "日期";
    }
    .table__account--transfer tbody tr td:nth-of-type(2):before { 
        content: "转出钱包";
    }
    .table__account--transfer tbody tr td:nth-of-type(3):before { 
        content: "转入钱包";
    }
    .table__account--transfer tbody tr td:nth-of-type(4):before { 
        content: "金额";
    }
    .table__account--transfer tbody tr td:nth-of-type(5):before { 
        content: "状态";
    }

    .table__account--deposit tbody tr td:nth-of-type(1):before { 
        content: "日期";
    }
    .table__account--deposit tbody tr td:nth-of-type(2):before { 
        content: "转出钱包";
    }
    .table__account--deposit tbody tr td:nth-of-type(3):before { 
        content: "转入钱包";
    }
    .table__account--deposit tbody tr td:nth-of-type(4):before { 
        content: "金额";
    }
    .table__account--deposit tbody tr td:nth-of-type(5):before { 
        content: "状态";
    }
    .table__account--deposit tbody tr td:nth-of-type(6):before { 
        content: "状态";
    }    

    .table__account--withdraw tbody tr td:nth-of-type(1):before { 
        content: "提款编号";
    }
    .table__account--withdraw tbody tr td:nth-of-type(2):before { 
        content: "日期";
    }
    .table__account--withdraw tbody tr td:nth-of-type(3):before { 
        content: "金额";
    }
    .table__account--withdraw tbody tr td:nth-of-type(4):before { 
        content: "状态";
    }
    .table__account--withdraw tbody tr td:nth-of-type(1):before { 
        content: "提款编号";
    }
    .table__account--withdraw tbody tr td:nth-of-type(2):before { 
        content: "日期";
    }
    .table__account--withdraw tbody tr td:nth-of-type(3):before { 
        content: "金额";
    }
    .table__account--withdraw tbody tr td:nth-of-type(4):before { 
        content: "状态";
    }
    .table__account--mail tbody tr td:nth-of-type(1):before { 
        content: "标题";
    }
    .table__account--mail tbody tr td:nth-of-type(2):before { 
        content: "日期";
    }
    .table__account--mail tbody tr td:nth-of-type(3):before { 
        content: "状态";
    }
    .account__offers--label{
        text-align: center;
    }
    .form--promo>.form-group>label{
        margin-bottom: 10px;
    }
    .form--promo>.btn_account-default{
        display: block;
        padding: 0.8rem 1rem; 
    }
    .wallet__transfer_amt--input{
        margin: 5% auto;
    }
    .col-lg-6.col-md-6.heading__wallet{
        text-align: center;
        margin: 1rem auto -2.5rem;
    }
    .col-lg-6.col-md-6.heading__wallet>span>.btn_account.btn_account-default{
        display: block;
        max-width: 250px;
        padding: 1rem;
    }
    .heading__wallet span{
        margin: 0 5px;
    }
    .btn__deposit, .btn__deposit:link, .btn__deposit:visited, .btn__deposit:active{
        margin-right: 0% !important;
    }
    .container-header{
        .col-lg-6.col-md-6.col-sm-6.col-xs-6{
            &:first-child{
                width: 90%;
            }
            &:last-child{
               display: none;
            }
        }
    }
    .section{
        padding-top: 30%;
    }
    .form-group{
        .group{
            display: block;
            margin: 3% auto;
        }
    }
}
@media screen and (max-width: 375px){
    .nav-tabs>li>a{
        padding: 5px 8px!important;
        margin: 0 auto;
        text-align: center;
    }
    .account__wallet_platforms>.wallet__label,
    .account__wallet_platforms>.account__wallet--points{
        text-align: center;
    }
    .account__wallet_platforms>.wallet__label,
    .account__wallet_platforms>.account__wallet--points{
        display: block;
        float: none;
    }    
    .account__wallet_platforms>.wallet__label>.wallet__label--large,
    .account__wallet_platforms>.wallet__label>.wallet__label--small{
        text-align: left;
        display: inline-block;
    }
    .account__wallet_platforms>.wallet__label>.wallet__label--large{
        vertical-align: middle;
    }
    .account__wallet_platforms>.wallet__label>.wallet__label--small:before,
    .account__wallet_platforms>.wallet__label>.wallet__label--small::before{
        content: "/ ";
        padding-left: 5px;
    }
    .account__wallet_platforms>.wallet__label>.wallet__label--small{
        font-size: 1.15rem;
    }
    .account__wallet_bg {
        background-size: 45% auto;
    }
    .account__wallet-pt{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/pt-bw.png) center no-repeat;
    }
    .account__wallet-mg{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/mg-bw.png) center no-repeat;
    }
    .account__wallet-bs{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/bs-bw.png) center no-repeat;
    }
    .account__wallet-ttg{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/ttg-bw.png) center no-repeat;
    }
    .account__wallet-isb{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/isb-bw.png) center no-repeat;
    }
    .account__wallet-ag{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/ag-bw.png)  center no-repeat;
    }
    .account__wallet-png{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/png-bw.png) center no-repeat;
    }
    .account__wallet-fg{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/fg-bw.png) center no-repeat;
    }
    .account__wallet-gg{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/gg-bw.png) center no-repeat;
    }
    .account__wallet-hb{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/hb-bw.png) center no-repeat;
    }
    .account__wallet-sa{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/sa-bw.png) center no-repeat;
    }
    .account__wallet-pk{
        background: rgba(255,255,255,1) url(../images/slots/platforms/bw/pk-bw.png) center no-repeat;
    }
    .image__tooltip_info li {
        min-width: 150px;
    }
}
@media screen and (max-width: 320px){
    .input-group-addon{
        min-width: 80px;
    }
}
