/*NAVBAR*/
.container-header{
    @extend .container--reduce-width;
}
.header{
    width:inherit;
    border-bottom: 3px solid $primary;
    @include navBackground( rgba(82,82,82,.1), rgba(82,82,82,1), rgba(33,33,33,1));
}
.header__wrap{
    @include boxShadow((0 2px 28px 0px rgba(0,0,0,0.25), 0 1px 10px 0px rgba(0,0,0,0.22)));
}
.fixed{
    position: fixed;
    z-index: 8888;
    width: 100%;
}
.logo{
    width: 125px;
    margin: 1.5rem 1rem 0rem 1rem;
    margin: 1%;
    float: left;
}
.rowtop, .rowbottom{
    float: none;
    text-align: right;
}
.rowtop span{
    color: rgba(255,255,255,1);
    font-size: 12px;
}
.rowbottom {
    margin-top:10px;
    .form{
    	margin: 10% auto;
    }
} 

.head_top,.head_bottom{
    display: block;
}

.main__nav {
	text-transform: uppercase;
	li {
		float: left;
		max-width: 100%;
		color: rgba(255,255,255,1); 
		a {
			line-height:2em;
			padding: 5px;
			color:inherit;
			font-size: 1rem; 
			margin: 0 1rem;
			text-transform: uppercase;
			display: block;
			position: relative;
		    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
			&:after, &::after{
				position: absolute;
				bottom: -3px;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: '';
				color: transparent;
				background: $plainWhite;
				height: 2px;
			    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
			}
		}
	}
}

.main__nav li a.nav--active{
	&:after,&::after{
		width: 100%;
	}
	.menu_item.nav--active{
		color: $plainWhite;
	}
}


.menu_item {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1rem;
	font-weight: normal;
}

.nav__dropdown_menu a:hover>.caret{
	@include rotate(180);
}
.nav__dropdown_menu:hover .nav__dropdown{
	visibility: visible; 
	opacity: 1;
	z-index: 5;
	@include translate(0%, 3%);
	@include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
	-webkit-transition-delay: 0s, 0s, 0.3s;
	-moz-transition-delay: 0s, 0s, 0.3s;
	-ms-transition-delay: 0s, 0s, 0.3s;
	-o-transition-delay: 0s, 0s, 0.3s;
	transition-delay: 0s, 0s, 0.3s; 
}

.caret{
    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
}

.nav__dropdown{
    background: $primary;
    position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
    width: 100%;
    max-width: 200px;
	@include translate(0%, -10%);
    ul{
		padding: 0px;
		margin: 0 auto;
		width: 70%;
	    li{		    
	    	max-width: 280px;
		    width: 100%;
		    display: inline-block;
		    background: 105%  -20% no-repeat;
		    background-size: 70%;
		    margin: 5% 1%;
		    a{
		    	position: relative;
		    	img{
		    		width: auto;
				    height: 150px;
				    display: inline-block;
				    position: relative;
				    bottom: -50px;
				    z-index: 1;
		    	}
		    }
		}
	}
}
.menu__icon,  .menu__icon.menu__icon-burger span,
.head_bottom .text--large {
	display: none
}
.mobile__header_content{
	div{
		h1{
			color: $primary;
			text-align: right;
			margin-top: 2rem;
		}
	}
}
.head_bottom{
	background: $primary;
}
.nav__dropdown_mobile{
	display: none !important;
	ul{
		li{
			border-top: 1px solid rgba(50, 50, 50, 0.25);
			border-bottom: none !important;
		}
	}
}